<!DOCTYPE html>
<html>
  <head>
    <title>RubByProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in?  %>
      <% if current_user.role == 1 %>
        <div><%= render partial: "shared/sidebar" %></div>
      <% else %>
        <div> <%= render partial: "shared/header"%></div>
      <% end %>
    <% end %>
    <div class=" ">
      <%= yield %>
    </div>
  </body>
</html>
